<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    {#div{#}
    {#    outline: 2px dashed blue;#}
    {#}#}

    #openweathermap-widget-11{
        outline: 2px dashed blue;
        position: relative;
        top: 255px;
        left: 200px;
        Width: 675px;
        transform: scale(0.2,0.2);
        justify-content: center;
    }

</style>

<body>
    <h1>Hello, Weather!</h1>

<div id="openweathermap-widget-11"></div>
    
<script src='//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/d3.min.js'></script><script>window.myWidgetParam ? window.myWidgetParam : window.myWidgetParam = [];  window.myWidgetParam.push({id: 11,cityid: '5004062',appid: '680244fad465ef79f60535dcf93de108',units: 'metric',containerid: 'openweathermap-widget-11',  });  (function() {var script = document.createElement('script');script.async = true;script.charset = "utf-8";script.src = "//openweathermap.org/themes/openweathermap/assets/vendor/owm/js/weather-widget-generator.js";var s = document.getElementsByTagName('script')[0];s.parentNode.insertBefore(script, s);  })();</script>
</body>
</html>